#registration_form {
    padding-top: 44px;
    padding-left: 36px;
    width: 800px;
    height: 440px;
    position: relative;
    float: left;
    background: rgba(0, 0, 0, 0) url('images/popup.png') center no-repeat; background-size: cover;
}

#register_feedback {
    padding: 0;
}

#register_feedback a.popup-window-close-icon {
    width: 34px;
    height: 34px;
    opacity: 1;
    position: absolute;
    top: -17px;
    right: -17px;
    background: rgba(0, 0, 0, 0) url('images/close_button.png') center no-repeat; background-size: cover;
}

#registration_form input {
    position: absolute;
}

#registration_form input[type="submit"] {
    width: 176px;
    height: 34px;
    top: 405px;
    left: 116px;
    background: rgba(0, 0, 0, 0) url('images/button3.png') center no-repeat; background-size: cover;
    border: none;
}

#registration_form input[type="submit"]:hover {
    background: rgba(0, 0, 0, 0) url('images/button2.png') center no-repeat; background-size: cover;
}

#registration_form input[type="text"], #registration_form input[type="email"] {
    width: 330px;
    height: 33px;
    margin-top: 25px;
    left: 0;
}

#registration_form div.question-field {
    position: relative;
    margin-bottom: 60px;
}

#registration_form div.question-field label {
    margin-bottom: 5px;
}

#registration_form span.title-red {
    font-weight: bold;
    color: #bc2209;
    font-size: 23px;
}

#registration_form span.title-black {
    font-weight: bold;
    color: #8c8c8c;
    font-size: 23px;
    margin-bottom: 20px;
}

#registration_form label {
    color: #8c8c8c;
    font-size: 16px;
}

#register_feedback table {
    border-width: 0;
    margin: 0;
    padding: 0;
}

#register_feedback table tbody tr.popup-window-top-row{
    display: none;
}

#register_feedback table tbody tr.popup-window-bottom-row{
    display: none;
}

#register_feedback table tbody tr td.popup-window-left-column {
    display: none;
}

#register_feedback table tbody tr td.popup-window-right-column {
    display: none;
}

#popup-window-content-register_feedback {
    margin: 0;
}

#registration_form div.right-bottom-block {
    bottom: 0;
    height: 85px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 47%;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-family: "OpenSans-Bold","Open Sans",sans-serif;
}
