/* latin */
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'), url(http://fonts.gstatic.com/s/oldstandardtt/v7/n6RTCDcIPWSE8UNBa4k-DG75SyxP8F_Nt1CRRMel2UU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 700;
  src: local('Old Standard TT Bold'), local('OldStandardTT-Bold'), url(http://fonts.gstatic.com/s/oldstandardtt/v7/5Ywdce7XEbTSbxs__4X1_C0jGk3ScAiZpxLRtv3VAEU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Old Standard TT';
  font-style: italic;
  font-weight: 400;
  src: local('Old Standard TT Italic'), local('OldStandardTT-Italic'), url(http://fonts.gstatic.com/s/oldstandardtt/v7/QQT_AUSp4AV4dpJfIN7U5FQ6NBT6gvjJm6dP1MVY-i0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.et_pb_testimonial_1.et_pb_testimonial * { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif; font-style: italic;font-size: 17px; color: #666666 !important; }
.et_pb_testimonial_1.et_pb_testimonial { padding-top: 20px !important; padding-right: 15px !important; padding-bottom: 20px !important; padding-left: 15px !important; }
.et_pb_testimonial_1 { box-shadow: 2px 2px 5px rgba(0,68,126,0.3); }
.et_pb_testimonial_0 .et_pb_testimonial_portrait { width: 100px; height: 100px; }
.et_pb_testimonial_0 .et_pb_testimonial_portrait, .et_pb_testimonial_0 .et_pb_testimonial_portrait:before { -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; }
.et_pb_testimonial_0.et_pb_testimonial * { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif; font-style: italic;font-size: 17px; color: #666666 !important; }
.et_pb_testimonial_0.et_pb_testimonial { padding-top: 20px !important; padding-right: 15px !important; padding-bottom: 20px !important; padding-left: 15px !important; }
.et_pb_testimonial_0 { box-shadow: 2px 2px 5px rgba(0,68,126,0.3); }
.et_pb_testimonial_1 .et_pb_testimonial_portrait, .et_pb_testimonial_1 .et_pb_testimonial_portrait:before { -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; }
.et_pb_testimonial_1 .et_pb_testimonial_portrait { width: 100px; height: 100px; }
.et_pb_cta_5.et_pb_promo { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 18px; color: #ffffff !important; line-height: 1.5em; }
.et_pb_cta_5 { position: relative; z-index: 10; }
.et_pb_cta_5 .et_pb_promo_description h2 { font-weight: 800; }
.et_pb_cta_5.et_pb_promo p { line-height: 1.5em; }
.et_pb_cta_5.et_pb_promo h2 { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important; text-transform: uppercase !important;font-size: 52px !important; color: #ffffff !important; line-height: 1.4em !important; }
.et_pb_section_5:after { content: "";background: url('https://www.infiniteimagination.com.au/rhm/wp-content/uploads/2016/08/mask.png') repeat;top: 0;left: 0;bottom: 0;right: 0;position: absolute;z-index: 1; }
.et_pb_section_5.et_pb_section { background-color:#ffffff !important; }
.et_pb_cta_4 .et_pb_promo_description h2 { font-weight: 800; }
.et_pb_cta_4.et_pb_promo .et_pb_button.et_pb_promo_button { margin-top: 30px; }
body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:hover { color:#2b2c2a !important;
  background:rgba(0,0,0,0) !important;
  border-color:#2b2c2a !important;
  border-radius:0px;
  letter-spacing:2px; }
body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:hover:after { margin-left:.3em;
  left:auto;margin-left:.3em; }
body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:after { color:#ffffff;
  line-height:1.7em;
  font-size:17px !important;
  opacity:1;

  margin-left:.3em;left:auto;
  display: inline-block; }
body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button { color:#ffffff !important;
  background:#a12713;

  border-color:rgba(43,44,42,0);
  border-radius:0px;
  letter-spacing:1px;
  font-size:17px;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
  padding-left:0.7em; padding-right: 2em; }
.et_pb_cta_3.et_pb_promo { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; color: #666666 !important; line-height: 1.5em; }
.et_pb_cta_3.et_pb_promo h2 { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;font-size: 38px !important; color: #494949 !important; line-height: 1.4em !important; }
.et_pb_cta_3.et_pb_promo p { line-height: 1.5em; }
.et_pb_cta_3 .et_pb_promo_description h2 { font-weight: 800; }
.et_pb_image_1 { text-align: center; }
.et_pb_cta_4.et_pb_promo h2 { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important; text-transform: uppercase !important;font-size: 46px !important; color: #494949 !important; line-height: 1.4em !important; }
.et_pb_cta_4.et_pb_promo p { line-height: 1.5em; }
.et_pb_cta_4.et_pb_promo { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 18px; color: #666666 !important; line-height: 1.5em; }
.et_pb_section_4.et_pb_section { background-color:#ffffff !important; }
.et_pb_section_4 { border-bottom: 1px solid #D7DCE1; }
.et_pb_image_2 { text-align: center; }
.et_pb_image_3 { text-align: center; }
.et_pb_section_6.et_pb_section { background-color:#ffffff !important; }
.et_pb_cta_6.et_pb_promo h2 { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important; text-transform: uppercase !important;font-size: 44px !important; color: #494949 !important; line-height: 1.4em !important; }
.et_pb_column .et_pb_row_inner_0 { padding-bottom: 0px; }
.et_pb_text_4.et_pb_text { color: #ffffff !important; }
.et_pb_text_4 { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif; text-transform: uppercase;font-size: 16px; }
.et_pb_social_media_follow_0 { margin: 1% auto; }
.et_pb_text_3 { font-family: 'Old Standard TT', Georgia, "Times New Roman", serif; text-transform: uppercase;font-size: 16px; }
.et_pb_cta_7 .et_pb_promo_description h2 { font-weight: 800; }
.et_pb_section_8.et_pb_section { background-color:#2b2c2a !important; }
.et_pb_text_3.et_pb_text { color: #ffffff !important; }
.et_pb_blurb_11.et_pb_blurb p { line-height: 1.5em; }
.et_pb_blurb_11.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; color: #ffffff !important; line-height: 1.5em; }
.et_pb_blurb_13.et_pb_blurb p { line-height: 1.5em; }
.et_pb_blurb_13.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; color: #ffffff !important; line-height: 1.5em; }
.et_pb_blurb_13 .et-pb-icon { font-size: 20px; }
.et_pb_blurb_12 .et-pb-icon { font-size: 20px; }
.et_pb_blurb_12.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; color: #ffffff !important; line-height: 1.5em; padding-bottom: 15px !important;margin-bottom: 0px !important; }
.et_pb_blurb_11 .et-pb-icon { font-size: 18px; }
.et_pb_blurb_12.et_pb_blurb p { line-height: 1.5em; }
.et_pb_cta_7.et_pb_promo .et_pb_button.et_pb_promo_button { margin-top: 30px; }
body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:after { color:#ffffff;
  line-height:1.7em;
  font-size:20px !important;
  opacity:1;

  margin-left:.3em;left:auto;
  display: inline-block; }
.et_pb_text_1 p { line-height: 1.5em; }
.et_pb_text_1 { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; line-height: 1.5em; }
.et_pb_text_2.et_pb_text { color: #666666 !important; }
.et_pb_text_1.et_pb_text { color: #666666 !important; }
.et_pb_cta_6 .et_pb_promo_description h2 { font-weight: 800; }
.et_pb_cta_6.et_pb_promo p { line-height: 1.5em; }
.et_pb_cta_6.et_pb_promo { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; line-height: 1.5em; padding-bottom: 0px !important;margin-bottom: 0px !important; }
.et_pb_text_2 p { line-height: 1.5em; }
.et_pb_text_2 { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; line-height: 1.5em; }
body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button { color:#ffffff !important;
  background:#a12713;

  border-color:rgba(43,44,42,0);
  border-radius:0px;
  letter-spacing:1px;
  font-size:20px;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
  padding-left:0.7em; padding-right: 2em; }
body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:hover { color:#2b2c2a !important;
  background:rgba(0,0,0,0) !important;
  border-color:#2b2c2a !important;
  border-radius:0px;
  letter-spacing:2px; }
body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:hover:after { margin-left:.3em;
  left:auto;margin-left:.3em; }
.et_pb_cta_7.et_pb_promo { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; padding-top: 7% !important; padding-bottom: 7% !important; }
.et_pb_cta_7.et_pb_promo h2 { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;font-size: 38px !important; color: #494949 !important; line-height: 1.2em !important; }
.et_pb_section_7.et_pb_section { background-color:#ffffff !important; padding-top: 0px; padding-bottom: 0px; }
.et_pb_image_4 { text-align: center; }
.et_pb_section_3.et_pb_section { background-color:#ffffff !important; }
.et_pb_blurb_10 h4 { font-weight: 800; }
.et_pb_blurb_1.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; color: #666666 !important; padding-left: 60px !important; }
.et_pb_blurb_2.et_pb_blurb h4, .et_pb_blurb_2.et_pb_blurb h4 a { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif; text-transform: uppercase;font-size: 22px; color: #494949 !important; line-height: 1.5em; }
.et_pb_blurb_2.et_pb_blurb p { line-height: 1.5em; }
.et_pb_blurb_0 .et-pb-icon { font-size: 34px; }
.et_pb_blurb_0 h4 { font-weight: 800;border-style: solid;border-color: #aeafaf;border-left-width: 1px;padding: 0px 0px 1px 15px;/*margin-left: 0px;*/ }
.et_pb_blurb_0.et_pb_blurb h4, .et_pb_blurb_0.et_pb_blurb h4 a { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif; text-transform: uppercase;font-size: 22px; color: #494949 !important; line-height: 1.5em; }
.et_pb_blurb_0.et_pb_blurb p { line-height: 1.5em; }
.et_pb_blurb_0.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; color: #666666 !important; line-height: 1.5em; padding-bottom: 0px !important;margin-bottom: 0px !important; }
.et_pb_blurb_2.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; color: #666666 !important; line-height: 1.5em; padding-bottom: 0px !important;margin-bottom: 0px !important; }
.et_pb_blurb_2 h4 { font-weight: 800;border-style: solid;border-color: #aeafaf;border-left-width: 1px;padding: 0px 0px 1px 15px;/*margin-left: 0px;*/ }
.et_pb_blurb_4.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; color: #666666 !important; line-height: 1.5em; padding-bottom: 0px !important;margin-bottom: 0px !important; }
.et_pb_blurb_4 h4 { font-weight: 800;border-style: solid;border-color: #aeafaf;border-left-width: 1px;padding: 0px 0px 1px 15px;/*margin-left: 0px;*/ }
.et_pb_blurb_4 .et-pb-icon { font-size: 34px; }
.et_pb_blurb_4.et_pb_blurb p { line-height: 1.5em; }
.et_pb_blurb_4.et_pb_blurb h4, .et_pb_blurb_4.et_pb_blurb h4 a { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif; text-transform: uppercase;font-size: 22px; color: #494949 !important; line-height: 1.5em; }
.et_pb_blurb_2 .et-pb-icon { font-size: 34px; }
.et_pb_blurb_3.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; color: #666666 !important; padding-left: 60px !important; }
.et_pb_cta_1 .et_pb_promo_description h2 { font-weight: 800; }
.et_pb_cta_1.et_pb_promo { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; color: #666666 !important; line-height: 1.5em; }
.et_pb_cta_0.et_pb_promo p { line-height: 1.5em; }
.et_pb_cta_0.et_pb_promo { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 18px; color: #ffffff !important; line-height: 1.5em; }
body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button { color:#ffffff !important;
  background:#a12713;

  border-color:rgba(255,255,255,0);
  border-radius:0px;
  letter-spacing:0px;
  font-size:20px;
  font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif !important; }
.et_pb_cta_0.et_pb_promo h2 { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;font-size: 52px !important; color: #ffffff !important; line-height: 1.5em !important; }
.et_pb_image_0 { text-align: center; }
.et_pb_section_0 { background-image:url(http://brb-site.ru/wp-content/uploads/2016/09/2016-09-18_15-12-40.jpg); }
.et_pb_text_0 { font-size: 20px; }
body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:hover { color:#ffffff !important;
  background:rgba(255,255,255,0.2) !important;
  border-color:rgba(0,0,0,0) !important;
  border-radius:0px;
  letter-spacing:3px;
  padding-left:0.7em; padding-right: 2em; }
body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:hover:after { margin-left:.3em;
  left:auto;margin-left:.3em;
  opacity: 1; }
.et_pb_section_1.et_pb_section { background-color:#ffffff !important; }
.et_pb_cta_1.et_pb_promo h2 { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important; text-transform: uppercase !important;font-size: 46px !important; color: #494949 !important; line-height: 1.5em !important; }
.et_pb_cta_1.et_pb_promo p { line-height: 1.5em; }
.et_pb_cta_0 .et_pb_promo_description h2 { font-weight: 800; }
.et_pb_cta_0.et_pb_promo .et_pb_button.et_pb_promo_button { margin-top: 30px; }
body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:after {
  line-height:1.7em;
  font-size:20px !important;
  opacity:0;
  margin-left:-1em;left:auto;

  display: inline-block; }
.et_pb_cta_0 { position: relative; z-index: 3; }
.et_pb_blurb_5.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; color: #666666 !important; padding-left: 60px !important; }
.et_pb_blurb_6.et_pb_blurb h4, .et_pb_blurb_6.et_pb_blurb h4 a { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif; text-transform: uppercase;font-size: 22px; color: #494949 !important; line-height: 1.5em; }
.et_pb_blurb_8.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 18px; color: #ffffff !important; line-height: 1.5em; padding-top: 10px !important; padding-bottom: 20px !important; }
.et_pb_blurb_8 { position: relative; z-index: 3; }
.et_pb_blurb_8 h4 { font-weight: 800; }
.et_pb_blurb_8.et_pb_blurb p { line-height: 1.5em; }
.et_pb_blurb_8.et_pb_blurb h4, .et_pb_blurb_8.et_pb_blurb h4 a { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif; text-transform: uppercase;font-size: 20px; color: #ffffff !important; line-height: 1.4em; }
.et_pb_cta_2 .et_pb_promo_description h2 { font-weight: 800; }
.et_pb_column_7 { background-color:rgba(0,0,0,0.74); padding-top:5%; padding-right:10%; padding-bottom:5%; padding-left:2%; }
.et_pb_blurb_9.et_pb_blurb h4, .et_pb_blurb_9.et_pb_blurb h4 a { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif; text-transform: uppercase;font-size: 20px; color: #ffffff !important; line-height: 1.4em; }
.et_pb_blurb_9.et_pb_blurb p { line-height: 1.5em; }
.et_pb_blurb_10.et_pb_blurb p { line-height: 1.5em; }
.et_pb_blurb_10.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 18px; color: #ffffff !important; line-height: 1.5em; padding-top: 10px !important; padding-bottom: 20px !important; }
.et_pb_blurb_10 { position: relative; z-index: 3; }
.et_pb_blurb_10.et_pb_blurb h4, .et_pb_blurb_10.et_pb_blurb h4 a { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif; text-transform: uppercase;font-size: 20px; color: #ffffff !important; line-height: 1.4em; }
.et_pb_blurb_9 h4 { font-weight: 800; }
.et_pb_blurb_9.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 18px; color: #ffffff !important; line-height: 1.5em; padding-top: 10px !important; padding-bottom: 20px !important; }
.et_pb_blurb_9 { position: relative; z-index: 3; }
.et_pb_cta_2.et_pb_promo .et_pb_button.et_pb_promo_button { margin-top: 30px; }
.et_pb_cta_2 { position: relative; z-index: 3; }
.et_pb_blurb_7.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; color: #666666 !important; padding-left: 60px !important; }
.et_pb_section_2:after { content: "";background: url('https://www.infiniteimagination.com.au/business/wp-content/uploads/2016/09/texture.png') repeat;top: 0;left: 0;bottom: 0;right: 0;position: absolute;z-index: 1; }
.et_pb_section_2.et_pb_section { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.et_pb_blurb_6 .et-pb-icon { font-size: 34px; }
.et_pb_blurb_6 h4 { font-weight: 800;border-style: solid;border-color: #aeafaf;border-left-width: 1px;padding: 0px 0px 1px 15px;/*margin-left: 0px;*/ }
.et_pb_blurb_6.et_pb_blurb p { line-height: 1.5em; }
.et_pb_blurb_6.et_pb_blurb { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 16px; color: #666666 !important; line-height: 1.5em; padding-bottom: 0px !important;margin-bottom: 0px !important; }
.et_pb_row_4.et_pb_row { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.et_pb_column_6 { background-color:rgba(0,0,0,0.39); padding-left:10%; }
body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:hover { color:#ffffff !important;
  background:rgba(255,255,255,0.2) !important;
  border-color:rgba(0,0,0,0) !important;
  border-radius:0px;
  letter-spacing:3px;
  padding-left:0.7em; padding-right: 2em; }
body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:hover:after { margin-left:.3em;
  left:auto;margin-left:.3em;
  opacity: 1; }
body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:after {
  line-height:1.7em;
  font-size:20px !important;
  opacity:0;
  margin-left:-1em;left:auto;

  display: inline-block; }
body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button { color:#ffffff !important;
  background:rgba(0,0,0,0);

  border-color:rgba(255,255,255,0.6);
  border-radius:0px;
  letter-spacing:0px;
  font-size:20px;
  font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif !important; }
.et_pb_cta_2.et_pb_promo { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;font-size: 18px; color: #ffffff !important; line-height: 1.5em; padding-top: 20% !important; padding-bottom: 20% !important; }
.et_pb_cta_2.et_pb_promo h2 { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important; text-transform: uppercase !important;font-size: 46px !important; color: #ffffff !important; line-height: 1.5em !important; }
.et_pb_cta_2.et_pb_promo p { line-height: 1.5em; }
.et_pb_section_0:after { content: "";background: url('https://www.infiniteimagination.com.au/business/wp-content/uploads/2016/09/texture.png') repeat;top: 0;left: 0;bottom: 0;right: 0;position: absolute;z-index: 1; }

@media only screen and ( min-width: 981px ) {
  .et_pb_row_8.et_pb_row { padding-top: 7%; padding-bottom: 4%; }
  .et_pb_row_5.et_pb_row { padding-right: 0px; padding-left: 0px; }
  .et_pb_section_3.et_pb_section { padding-top: 60px; }
  .et_pb_row_0.et_pb_row { padding-top: 10%; padding-bottom: 10%; }
}

@media only screen and ( max-width: 980px ) {
  .et_pb_cta_6.et_pb_promo h2 { font-size: 40px !important; }
  .et_pb_cta_5.et_pb_promo h2 { font-size: 50px !important; }
  body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:hover { letter-spacing:0px; }
  body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button,body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:after {
    letter-spacing:0px; }
  .et_pb_cta_7.et_pb_promo h2 { font-size: 36px !important; }
  .et_pb_cta_7.et_pb_promo { padding-top: 0px !important; padding-bottom: 0px !important; }
  .et_pb_column .et_pb_row_inner_0 { padding-bottom: 10px; }
  body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:hover { letter-spacing:0px; }
  body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button,body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:after {
    letter-spacing:0px; }
  .et_pb_cta_3.et_pb_promo h2 { font-size: 34px !important; }
  .et_pb_row > .et_pb_column.et_pb_column_7 { padding-top: 5%;padding-right: 5px;padding-bottom: 5%;padding-left: 15px; }
  .et_pb_cta_1.et_pb_promo h2 { font-size: 40px !important; }
  body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:hover { letter-spacing:0px; }
  body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button,body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:after {
    letter-spacing:0px; }
  .et_pb_row > .et_pb_column.et_pb_column_6 { padding-right: 4%;padding-left: 4%; }
  .et_pb_cta_2.et_pb_promo h2 { font-size: 40px !important; }
  body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:hover { letter-spacing:0px; }
  body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button,body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:after {
    letter-spacing:0px; }
  .et_pb_cta_2.et_pb_promo { padding-top: 10% !important; padding-bottom: 10% !important; }
  .et_pb_cta_0.et_pb_promo h2 { font-size: 50px !important; }
}

@media only screen and ( max-width: 767px ) {
  .et_pb_cta_4.et_pb_promo h2 { font-size: 30px !important; }
  body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:hover { letter-spacing:0px; }
  body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button,body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:after {
    letter-spacing:0px; }
  .et_pb_cta_3.et_pb_promo h2 { font-size: 30px !important; }
  .et_pb_cta_5.et_pb_promo h2 { font-size: 30px !important; }
  .et_pb_cta_6.et_pb_promo h2 { font-size: 30px !important; }
  body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:hover { letter-spacing:0px; }
  body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button,body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:after { font-size:18px !important;
    letter-spacing:0px; }
  .et_pb_cta_7.et_pb_promo h2 { font-size: 30px !important; }
  body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:hover { letter-spacing:0px; }
  body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button,body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:after {
    letter-spacing:0px; }
  .et_pb_blurb_0 .et-pb-icon { font-size: 28px; }
  .et_pb_cta_1.et_pb_promo h2 { font-size: 30px !important; }
  body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:hover { letter-spacing:0px; }
  body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button,body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:after {
    letter-spacing:0px; }
  .et_pb_blurb_2 .et-pb-icon { font-size: 28px; }
  .et_pb_blurb_4 .et-pb-icon { font-size: 28px; }
  .et_pb_cta_2.et_pb_promo h2 { font-size: 30px !important; }
  .et_pb_row > .et_pb_column.et_pb_column_6 { padding-right: 3%;padding-left: 3%; }
  .et_pb_blurb_6 .et-pb-icon { font-size: 28px; }
  .et_pb_cta_0.et_pb_promo h2 { font-size: 30px !important; }
}

.et_pb_bg_layout_dark { color: #ffffff !important; }

.page.et_pb_pagebuilder_layout #main-content { background-color: rgba(255,255,255,0); }

.et_pb_section { background-color: #ffffff; }

div.et_pb_column.et_pb_column_1_2.et_pb_column_7 div.wrong-mozila-block{
  padding-bottom: 5% !important;
  padding-top: 5% !important;
  display: inline-block;
  -moz-box-sizing: border-box;
}

#page-container div.button_registration_popup {
  width: 176px;
  height: 34px;
  background: rgba(0, 0, 0, 0) url('../img/button3.png') center no-repeat; background-size: cover;
}

#page-container div.button_registration_popup:hover {
  background: rgba(0, 0, 0, 0) url('../img/button2.png') center no-repeat; background-size: cover;
}
