.woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message, .woocommerce-error, .woocommerce-info {
    background: #a12713 !important;
}

#et_search_icon:hover, .mobile_menu_bar:before, .mobile_menu_bar:after, .et_toggle_slide_menu:after, .et-social-icon a:hover, .et_pb_sum, .et_pb_pricing li a, .et_pb_pricing_table_button, .et_overlay:before, .entry-summary p.price ins, .woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, .woocommerce div.product p.price, .woocommerce-page div.product p.price, .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price, .et_pb_member_social_links a:hover, .woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before, .et_pb_widget li a:hover, .et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active, .et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active, .et_pb_gallery .et_pb_gallery_pagination ul li a.active, .wp-pagenavi span.current, .wp-pagenavi a:hover, .nav-single a, .posted_in a {
    color: #a12713;
}

.et_pb_contact_submit, .et_password_protected_form .et_submit_button, .et_pb_bg_layout_light .et_pb_newsletter_button, .comment-reply-link, .form-submit input, .et_pb_bg_layout_light .et_pb_promo_button, .et_pb_bg_layout_light .et_pb_more_button, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button {
    color: #a12713;
}

.footer-widget h4 {
    color: #a12713;
}

.et-search-form, .nav li ul, .et_mobile_menu, .footer-widget li:before, .et_pb_pricing li:before, blockquote {
    border-color: #a12713;
}

.et_pb_counter_amount, .et_pb_featured_table .et_pb_pricing_heading, .et_quote_content, .et_link_content, .et_audio_content, .et_pb_post_slider.et_pb_bg_layout_dark, .et_slide_in_menu_container {
    background-color: #a12713;
}

a {
    color: #0a0000;
}

#top-header, #et-secondary-nav li ul {
    background-color: #a12713;
}

.et_header_style_centered .mobile_nav .select_page, .et_header_style_split .mobile_nav .select_page, .et_nav_text_color_light #top-menu > li > a, .et_nav_text_color_dark #top-menu > li > a, #top-menu a, .et_mobile_menu li a, .et_nav_text_color_light .et_mobile_menu li a, .et_nav_text_color_dark .et_mobile_menu li a, #et_search_icon:before, .et_search_form_container input, span.et_close_search_field:after, #et-top-navigation .et-cart-info {
    color: rgba(10, 10, 10, 0.6);
}

.et_search_form_container input::-moz-placeholder {
    color: rgba(10, 10, 10, 0.6);
}

.et_search_form_container input::-webkit-input-placeholder {
    color: rgba(10, 10, 10, 0.6);
}

.et_search_form_container input:-ms-input-placeholder {
    color: rgba(10, 10, 10, 0.6);
}

#main-footer .footer-widget h4 {
    color: #a12713;
}

.footer-widget li:before {
    border-color: #a12713;
}

@media only screen and ( min-width: 981px ) {
    .et_header_style_left #et-top-navigation, .et_header_style_split #et-top-navigation {
        padding: 68px 0 0 0;
    }

    .et_header_style_left #et-top-navigation nav > ul > li > a, .et_header_style_split #et-top-navigation nav > ul > li > a {
        padding-bottom: 68px;
    }

    .et_header_style_split .centered-inline-logo-wrap {
        width: 135px;
        margin: -135px 0;
    }

    .et_header_style_split .centered-inline-logo-wrap #logo {
        max-height: 135px;
    }

    .et_pb_svg_logo.et_header_style_split .centered-inline-logo-wrap #logo {
        height: 135px;
    }

    .et_header_style_centered #top-menu > li > a {
        padding-bottom: 24px;
    }

    .et_header_style_slide #et-top-navigation, .et_header_style_fullscreen #et-top-navigation {
        padding: 59px 0 59px 0 !important;
    }

    .et_header_style_centered #main-header .logo_container {
        height: 135px;
    }

    #logo {
        max-height: 75%;
    }

    .et_pb_svg_logo #logo {
        height: 75%;
    }

    .et_header_style_centered.et_hide_primary_logo #main-header:not(.et-fixed-header) .logo_container, .et_header_style_centered.et_hide_fixed_logo #main-header.et-fixed-header .logo_container {
        height: 24.3px;
    }

    .et_header_style_left .et-fixed-header #et-top-navigation, .et_header_style_split .et-fixed-header #et-top-navigation {
        padding: 25px 0 0 0;
    }

    .et_header_style_left .et-fixed-header #et-top-navigation nav > ul > li > a, .et_header_style_split .et-fixed-header #et-top-navigation nav > ul > li > a {
        padding-bottom: 25px;
    }

    .et_header_style_centered header#main-header.et-fixed-header .logo_container {
        height: 50px;
    }

    .et_header_style_split .et-fixed-header .centered-inline-logo-wrap {
        width: 50px;
        margin: -50px 0;
    }

    .et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo {
        max-height: 50px;
    }

    .et_pb_svg_logo.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo {
        height: 50px;
    }

    .et_header_style_slide .et-fixed-header #et-top-navigation, .et_header_style_fullscreen .et-fixed-header #et-top-navigation {
        padding: 16px 0 16px 0 !important;
    }

    .et-fixed-header#top-header, .et-fixed-header#top-header #et-secondary-nav li ul {
        background-color: #a12713;
    }

    .et-fixed-header #top-menu a, .et-fixed-header #et_search_icon:before, .et-fixed-header #et_top_search .et-search-form input, .et-fixed-header .et_search_form_container input, .et-fixed-header .et_close_search_field:after, .et-fixed-header #et-top-navigation .et-cart-info {
        color: rgba(10, 10, 10, 0.6) !important;
    }

    .et-fixed-header .et_search_form_container input::-moz-placeholder {
        color: rgba(10, 10, 10, 0.6) !important;
    }

    .et-fixed-header .et_search_form_container input::-webkit-input-placeholder {
        color: rgba(10, 10, 10, 0.6) !important;
    }

    .et-fixed-header .et_search_form_container input:-ms-input-placeholder {
        color: rgba(10, 10, 10, 0.6) !important;
    }

}

@media only screen and ( min-width: 1350px) {
    .et_pb_row {
        padding: 27px 0;
    }

    .et_pb_section {
        padding: 54px 0;
    }

    .single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper {
        padding-top: 81px;
    }

    .et_pb_section.et_pb_section_first {
        padding-top: inherit;
    }

    .et_pb_fullwidth_section {
        padding: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
}

body, input, textarea, select {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
}

.et_pb_testimonial_1.et_pb_testimonial * {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-style: italic;
    font-size: 17px;
    color: #666666 !important;
}

.et_pb_testimonial_1.et_pb_testimonial {
    padding-top: 20px !important;
    padding-right: 15px !important;
    padding-bottom: 20px !important;
    padding-left: 15px !important;
}

.et_pb_testimonial_1 {
    box-shadow: 2px 2px 5px rgba(0, 68, 126, 0.3);
}

.et_pb_testimonial_0 .et_pb_testimonial_portrait {
    width: 100px;
    height: 100px;
}

.et_pb_testimonial_0 .et_pb_testimonial_portrait, .et_pb_testimonial_0 .et_pb_testimonial_portrait:before {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.et_pb_testimonial_0.et_pb_testimonial * {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-style: italic;
    font-size: 17px;
    color: #666666 !important;
}

.et_pb_testimonial_0.et_pb_testimonial {
    padding-top: 20px !important;
    padding-right: 15px !important;
    padding-bottom: 20px !important;
    padding-left: 15px !important;
}

.et_pb_testimonial_0 {
    box-shadow: 2px 2px 5px rgba(0, 68, 126, 0.3);
}

.et_pb_testimonial_1 .et_pb_testimonial_portrait, .et_pb_testimonial_1 .et_pb_testimonial_portrait:before {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.et_pb_testimonial_1 .et_pb_testimonial_portrait {
    width: 100px;
    height: 100px;
}

.et_pb_cta_5.et_pb_promo {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    color: #ffffff !important;
    line-height: 1.5em;
}

.et_pb_cta_5 {
    position: relative;
    z-index: 10;
}

.et_pb_cta_5 .et_pb_promo_description h2 {
    font-weight: 800;
}

.et_pb_cta_5.et_pb_promo p {
    line-height: 1.5em;
}

.et_pb_cta_5.et_pb_promo h2 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 52px !important;
    color: #ffffff !important;
    line-height: 1.4em !important;
}

.et_pb_section_5:after {
    content: "";
    background: url('https://www.infiniteimagination.com.au/rhm/wp-content/uploads/2016/08/mask.png') repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.et_pb_section_5.et_pb_section {
    background-color: #ffffff !important;
}

.et_pb_cta_4 .et_pb_promo_description h2 {
    font-weight: 800;
}

.et_pb_cta_4.et_pb_promo .et_pb_button.et_pb_promo_button {
    margin-top: 30px;
}

body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:hover {
    color: #2b2c2a !important;
    background: rgba(0, 0, 0, 0) !important;
    border-color: #2b2c2a !important;
    border-radius: 0px;
    letter-spacing: 2px;
}

body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:hover:after {
    margin-left: .3em;
    left: auto;
    margin-left: .3em;
}

body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:after {
    color: #ffffff;
    line-height: 1.7em;
    font-size: 17px !important;
    opacity: 1;

    margin-left: .3em;
    left: auto;
    display: inline-block;
}

body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button {
    color: #ffffff !important;
    background: #a12713;

    border-color: rgba(43, 44, 42, 0);
    border-radius: 0px;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
    padding-left: 0.7em;
    padding-right: 2em;
}

.et_pb_cta_3.et_pb_promo {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #666666 !important;
    line-height: 1.5em;
}

.et_pb_cta_3.et_pb_promo h2 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
    font-size: 38px !important;
    color: #494949 !important;
    line-height: 1.4em !important;
}

.et_pb_cta_3.et_pb_promo p {
    line-height: 1.5em;
}

.et_pb_cta_3 .et_pb_promo_description h2 {
    font-weight: 800;
}

.et_pb_image_1 {
    text-align: center;
}

.et_pb_cta_4.et_pb_promo h2 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 46px !important;
    color: #494949 !important;
    line-height: 1.4em !important;
}

.et_pb_cta_4.et_pb_promo p {
    line-height: 1.5em;
}

.et_pb_cta_4.et_pb_promo {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    color: #666666 !important;
    line-height: 1.5em;
}

.et_pb_section_4.et_pb_section {
    background-color: #ffffff !important;
}

.et_pb_section_4 {
    border-bottom: 1px solid #D7DCE1;
}

.et_pb_image_2 {
    text-align: center;
}

.et_pb_image_3 {
    text-align: center;
}

.et_pb_section_6.et_pb_section {
    background-color: #ffffff !important;
}

.et_pb_cta_6.et_pb_promo h2 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 44px !important;
    color: #494949 !important;
    line-height: 1.4em !important;
}

.et_pb_column .et_pb_row_inner_0 {
    padding-bottom: 0px;
}

.et_pb_text_4.et_pb_text {
    color: #ffffff !important;
}

.et_pb_text_4 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

.et_pb_social_media_follow_0 {
    margin: 1% auto;
}

.et_pb_text_3 {
    font-family: 'Old Standard TT', Georgia, "Times New Roman", serif;
    text-transform: uppercase;
    font-size: 16px;
}

.et_pb_cta_7 .et_pb_promo_description h2 {
    font-weight: 800;
}

.et_pb_section_8.et_pb_section {
    background-color: #2b2c2a !important;
}

.et_pb_text_3.et_pb_text {
    color: #ffffff !important;
}

.et_pb_blurb_11.et_pb_blurb p {
    line-height: 1.5em;
}

.et_pb_blurb_11.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #ffffff !important;
    line-height: 1.5em;
}

.et_pb_blurb_13.et_pb_blurb p {
    line-height: 1.5em;
}

.et_pb_blurb_13.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #ffffff !important;
    line-height: 1.5em;
}

.et_pb_blurb_13 .et-pb-icon {
    font-size: 20px;
}

.et_pb_blurb_12 .et-pb-icon {
    font-size: 20px;
}

.et_pb_blurb_12.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #ffffff !important;
    line-height: 1.5em;
    padding-bottom: 15px !important;
    margin-bottom: 0px !important;
}

.et_pb_blurb_11 .et-pb-icon {
    font-size: 18px;
}

.et_pb_blurb_12.et_pb_blurb p {
    line-height: 1.5em;
}

.et_pb_cta_7.et_pb_promo .et_pb_button.et_pb_promo_button {
    margin-top: 30px;
}

body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:after {
    color: #ffffff;
    line-height: 1.7em;
    font-size: 20px !important;
    opacity: 1;

    margin-left: .3em;
    left: auto;
    display: inline-block;
}

.et_pb_text_1 p {
    line-height: 1.5em;
}

.et_pb_text_1 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

.et_pb_text_2.et_pb_text {
    color: #666666 !important;
}

.et_pb_text_1.et_pb_text {
    color: #666666 !important;
}

.et_pb_cta_6 .et_pb_promo_description h2 {
    font-weight: 800;
}

.et_pb_cta_6.et_pb_promo p {
    line-height: 1.5em;
}

.et_pb_cta_6.et_pb_promo {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.et_pb_text_2 p {
    line-height: 1.5em;
}

.et_pb_text_2 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button {
    color: #ffffff !important;
    background: #a12713;

    border-color: rgba(43, 44, 42, 0);
    border-radius: 0px;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
    padding-left: 0.7em;
    padding-right: 2em;
}

body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:hover {
    color: #2b2c2a !important;
    background: rgba(0, 0, 0, 0) !important;
    border-color: #2b2c2a !important;
    border-radius: 0px;
    letter-spacing: 2px;
}

body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:hover:after {
    margin-left: .3em;
    left: auto;
    margin-left: .3em;
}

.et_pb_cta_7.et_pb_promo {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    padding-top: 7% !important;
    padding-bottom: 7% !important;
}

.et_pb_cta_7.et_pb_promo h2 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
    font-size: 38px !important;
    color: #494949 !important;
    line-height: 1.2em !important;
}

.et_pb_section_7.et_pb_section {
    background-color: #ffffff !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.et_pb_image_4 {
    text-align: center;
}

.et_pb_section_3.et_pb_section {
    background-color: #ffffff !important;
}

.et_pb_blurb_10 h4 {
    font-weight: 800;
}

.et_pb_blurb_1.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #666666 !important;
    padding-left: 60px !important;
}

.et_pb_blurb_2.et_pb_blurb h4, .et_pb_blurb_2.et_pb_blurb h4 a {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    color: #494949 !important;
    line-height: 1.5em;
}

.et_pb_blurb_2.et_pb_blurb p {
    line-height: 1.5em;
}

.et_pb_blurb_0 .et-pb-icon {
    font-size: 34px;
}

.et_pb_blurb_0 h4 {
    font-weight: 800;
    border-style: solid;
    border-color: #aeafaf;
    border-left-width: 1px;
    padding: 0px 0px 1px 15px; /*margin-left: 0px;*/
}

.et_pb_blurb_0.et_pb_blurb h4, .et_pb_blurb_0.et_pb_blurb h4 a {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    color: #494949 !important;
    line-height: 1.5em;
}

.et_pb_blurb_0.et_pb_blurb p {
    line-height: 1.5em;
}

.et_pb_blurb_0.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #666666 !important;
    line-height: 1.5em;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.et_pb_blurb_2.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #666666 !important;
    line-height: 1.5em;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.et_pb_blurb_2 h4 {
    font-weight: 800;
    border-style: solid;
    border-color: #aeafaf;
    border-left-width: 1px;
    padding: 0px 0px 1px 15px; /*margin-left: 0px;*/
}

.et_pb_blurb_4.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #666666 !important;
    line-height: 1.5em;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.et_pb_blurb_4 h4 {
    font-weight: 800;
    border-style: solid;
    border-color: #aeafaf;
    border-left-width: 1px;
    padding: 0px 0px 1px 15px; /*margin-left: 0px;*/
}

.et_pb_blurb_4 .et-pb-icon {
    font-size: 34px;
}

.et_pb_blurb_4.et_pb_blurb p {
    line-height: 1.5em;
}

.et_pb_blurb_4.et_pb_blurb h4, .et_pb_blurb_4.et_pb_blurb h4 a {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    color: #494949 !important;
    line-height: 1.5em;
}

.et_pb_blurb_2 .et-pb-icon {
    font-size: 34px;
}

.et_pb_blurb_3.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #666666 !important;
    padding-left: 60px !important;
}

.et_pb_cta_1 .et_pb_promo_description h2 {
    font-weight: 800;
}

.et_pb_cta_1.et_pb_promo {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #666666 !important;
    line-height: 1.5em;
}

.et_pb_cta_0.et_pb_promo p {
    line-height: 1.5em;
}

.et_pb_cta_0.et_pb_promo {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    color: #ffffff !important;
    line-height: 1.5em;
}

body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button {
    color: #ffffff !important;
    background: #a12713;

    border-color: rgba(255, 255, 255, 0);
    border-radius: 0px;
    letter-spacing: 0px;
    font-size: 20px;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif !important;
}

.et_pb_cta_0.et_pb_promo h2 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
    font-size: 52px !important;
    color: #ffffff !important;
    line-height: 1.5em !important;
}

.et_pb_image_0 {
    text-align: center;
}

.et_pb_section_0 {
    background-image: url('img/2016-09-18_15-12-40.jpg');
}

.et_pb_text_0 {
    font-size: 20px;
}

body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:hover {
    color: #ffffff !important;
    background: rgba(255, 255, 255, 0.2) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    border-radius: 0px;
    letter-spacing: 3px;
    padding-left: 0.7em;
    padding-right: 2em;
}

body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:hover:after {
    margin-left: .3em;
    left: auto;
    margin-left: .3em;
    opacity: 1;
}

.et_pb_section_1.et_pb_section {
    background-color: #ffffff !important;
}

.et_pb_cta_1.et_pb_promo h2 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 46px !important;
    color: #494949 !important;
    line-height: 1.5em !important;
}

.et_pb_cta_1.et_pb_promo p {
    line-height: 1.5em;
}

.et_pb_cta_0 .et_pb_promo_description h2 {
    font-weight: 800;
}

.et_pb_cta_0.et_pb_promo .et_pb_button.et_pb_promo_button {
    margin-top: 30px;
}

body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:after {
    line-height: 1.7em;
    font-size: 20px !important;
    opacity: 0;
    margin-left: -1em;
    left: auto;

    display: inline-block;
}

.et_pb_cta_0 {
    position: relative;
    z-index: 3;
}

.et_pb_blurb_5.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #666666 !important;
    padding-left: 60px !important;
}

.et_pb_blurb_6.et_pb_blurb h4, .et_pb_blurb_6.et_pb_blurb h4 a {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    color: #494949 !important;
    line-height: 1.5em;
}

.et_pb_blurb_8.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    color: #ffffff !important;
    line-height: 1.5em;
    padding-top: 10px !important;
    padding-bottom: 20px !important;
}

.et_pb_blurb_8 {
    position: relative;
    z-index: 3;
}

.et_pb_blurb_8 h4 {
    font-weight: 800;
}

.et_pb_blurb_8.et_pb_blurb p {
    line-height: 1.5em;
}

.et_pb_blurb_8.et_pb_blurb h4, .et_pb_blurb_8.et_pb_blurb h4 a {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff !important;
    line-height: 1.4em;
}

.et_pb_cta_2 .et_pb_promo_description h2 {
    font-weight: 800;
}

.et_pb_column_7 {
    background-color: rgba(0, 0, 0, 0.74);
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-left: 2%;
}

.et_pb_blurb_9.et_pb_blurb h4, .et_pb_blurb_9.et_pb_blurb h4 a {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff !important;
    line-height: 1.4em;
}

.et_pb_blurb_9.et_pb_blurb p {
    line-height: 1.5em;
}

.et_pb_blurb_10.et_pb_blurb p {
    line-height: 1.5em;
}

.et_pb_blurb_10.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    color: #ffffff !important;
    line-height: 1.5em;
    padding-top: 10px !important;
    padding-bottom: 20px !important;
}

.et_pb_blurb_10 {
    position: relative;
    z-index: 3;
}

.et_pb_blurb_10.et_pb_blurb h4, .et_pb_blurb_10.et_pb_blurb h4 a {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff !important;
    line-height: 1.4em;
}

.et_pb_blurb_9 h4 {
    font-weight: 800;
}

.et_pb_blurb_9.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    color: #ffffff !important;
    line-height: 1.5em;
    padding-top: 10px !important;
    padding-bottom: 20px !important;
}

.et_pb_blurb_9 {
    position: relative;
    z-index: 3;
}

.et_pb_cta_2.et_pb_promo .et_pb_button.et_pb_promo_button {
    margin-top: 30px;
}

.et_pb_cta_2 {
    position: relative;
    z-index: 3;
}

.et_pb_blurb_7.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #666666 !important;
    padding-left: 60px !important;
}

.et_pb_section_2:after {
    content: "";
    background: url('https://www.infiniteimagination.com.au/business/wp-content/uploads/2016/09/texture.png') repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.et_pb_section_2.et_pb_section {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.et_pb_blurb_6 .et-pb-icon {
    font-size: 34px;
}

.et_pb_blurb_6 h4 {
    font-weight: 800;
    border-style: solid;
    border-color: #aeafaf;
    border-left-width: 1px;
    padding: 0px 0px 1px 15px; /*margin-left: 0px;*/
}

.et_pb_blurb_6.et_pb_blurb p {
    line-height: 1.5em;
}

.et_pb_blurb_6.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #666666 !important;
    line-height: 1.5em;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.et_pb_row_4.et_pb_row {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.et_pb_column_6 {
    background-color: rgba(0, 0, 0, 0.39);
    padding-left: 10%;
}

body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:hover {
    color: #ffffff !important;
    background: rgba(255, 255, 255, 0.2) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    border-radius: 0px;
    letter-spacing: 3px;
    padding-left: 0.7em;
    padding-right: 2em;
}

body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:hover:after {
    margin-left: .3em;
    left: auto;
    margin-left: .3em;
    opacity: 1;
}

body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:after {
    line-height: 1.7em;
    font-size: 20px !important;
    opacity: 0;
    margin-left: -1em;
    left: auto;

    display: inline-block;
}

body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button {
    color: #ffffff !important;
    background: rgba(0, 0, 0, 0);

    border-color: rgba(255, 255, 255, 0.6);
    border-radius: 0px;
    letter-spacing: 0px;
    font-size: 20px;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif !important;
}

.et_pb_cta_2.et_pb_promo {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    color: #ffffff !important;
    line-height: 1.5em;
    padding-top: 30% !important;
    padding-bottom: 30% !important;
}

.et_pb_cta_2.et_pb_promo h2 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 46px !important;
    color: #ffffff !important;
    line-height: 1.5em !important;
}

.et_pb_cta_2.et_pb_promo p {
    line-height: 1.5em;
}

.et_pb_section_0:after {
    content: "";
    background: url('https://www.infiniteimagination.com.au/business/wp-content/uploads/2016/09/texture.png') repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

@media only screen and ( min-width: 981px ) {
    .et_pb_row_8.et_pb_row {
        padding-top: 7%;
        padding-bottom: 4%;
    }

    .et_pb_row_5.et_pb_row {
        padding-right: 0px;
        padding-left: 0px;
    }

    .et_pb_section_3.et_pb_section {
        padding-top: 60px;
    }

    .et_pb_row_0.et_pb_row {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

@media only screen and ( max-width: 980px ) {
    .et_pb_cta_6.et_pb_promo h2 {
        font-size: 40px !important;
    }

    .et_pb_cta_5.et_pb_promo h2 {
        font-size: 50px !important;
    }

    body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:hover {
        letter-spacing: 0px;
    }

    body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button, body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:after {
        letter-spacing: 0px;
    }

    .et_pb_cta_7.et_pb_promo h2 {
        font-size: 36px !important;
    }

    .et_pb_cta_7.et_pb_promo {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .et_pb_column .et_pb_row_inner_0 {
        padding-bottom: 10px;
    }

    body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:hover {
        letter-spacing: 0px;
    }

    body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button, body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:after {
        letter-spacing: 0px;
    }

    .et_pb_cta_3.et_pb_promo h2 {
        font-size: 34px !important;
    }

    .et_pb_row > .et_pb_column.et_pb_column_7 {
        padding-top: 5%;
        padding-right: 5px;
        padding-bottom: 5%;
        padding-left: 15px;
    }

    .et_pb_cta_1.et_pb_promo h2 {
        font-size: 40px !important;
    }

    body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:hover {
        letter-spacing: 0px;
    }

    body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button, body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:after {
        letter-spacing: 0px;
    }

    .et_pb_row > .et_pb_column.et_pb_column_6 {
        padding-right: 4%;
        padding-left: 4%;
    }

    .et_pb_cta_2.et_pb_promo h2 {
        font-size: 40px !important;
    }

    body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:hover {
        letter-spacing: 0px;
    }

    body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button, body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:after {
        letter-spacing: 0px;
    }

    .et_pb_cta_2.et_pb_promo {
        padding-top: 10% !important;
        padding-bottom: 10% !important;
    }

    .et_pb_cta_0.et_pb_promo h2 {
        font-size: 50px !important;
    }
}

@media only screen and ( max-width: 767px ) {
    .et_pb_cta_4.et_pb_promo h2 {
        font-size: 30px !important;
    }

    body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:hover {
        letter-spacing: 0px;
    }

    body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button, body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:after {
        letter-spacing: 0px;
    }

    .et_pb_cta_3.et_pb_promo h2 {
        font-size: 30px !important;
    }

    .et_pb_cta_5.et_pb_promo h2 {
        font-size: 30px !important;
    }

    .et_pb_cta_6.et_pb_promo h2 {
        font-size: 30px !important;
    }

    body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:hover {
        letter-spacing: 0px;
    }

    body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button, body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:after {
        font-size: 18px !important;
        letter-spacing: 0px;
    }

    .et_pb_cta_7.et_pb_promo h2 {
        font-size: 30px !important;
    }

    body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:hover {
        letter-spacing: 0px;
    }

    body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button, body #page-container .et_pb_cta_2.et_pb_promo .et_pb_button:after {
        letter-spacing: 0px;
    }

    .et_pb_blurb_0 .et-pb-icon {
        font-size: 28px;
    }

    .et_pb_cta_1.et_pb_promo h2 {
        font-size: 30px !important;
    }

    body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:hover {
        letter-spacing: 0px;
    }

    body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button, body #page-container .et_pb_cta_0.et_pb_promo .et_pb_button:after {
        letter-spacing: 0px;
    }

    .et_pb_blurb_2 .et-pb-icon {
        font-size: 28px;
    }

    .et_pb_blurb_4 .et-pb-icon {
        font-size: 28px;
    }

    .et_pb_cta_2.et_pb_promo h2 {
        font-size: 30px !important;
    }

    .et_pb_row > .et_pb_column.et_pb_column_6 {
        padding-right: 3%;
        padding-left: 3%;
    }

    .et_pb_blurb_6 .et-pb-icon {
        font-size: 28px;
    }

    .et_pb_cta_0.et_pb_promo h2 {
        font-size: 30px !important;
    }
}

.et_pb_bg_layout_dark { color: #ffffff !important; } .page.et_pb_pagebuilder_layout #main-content { background-color: rgba(255,255,255,0); } .et_pb_section { background-color: #ffffff; }